%section
  .wrapper
    .title
      Центральные офисы продаж Kaleva


    .offices
      .office.clearfix
        .address
          .bolder
            Коломенская
          .smaller
            пр-т Андропова, д. 38,
            %br
            корп. 3, офис 435.
        .phone
          .bolder
            Телефон
          .smaller
            (495) 789-47-34
        .work-time
          .bolder
            Время работы
          .smaller
            Пн.-Пт.: с 9-00 до 19-00.   Сб.-Вс.: с 10-00 до 16-00


      .office.clearfix.last
        .address
          .bolder
            Братеево
          .smaller
            ул. Братеевская,
            %br
            д. 23, корп. 1
        .phone
          .bolder
            Телефон
          .smaller
            (495) 789-48-21
        .work-time
          .bolder
            Время работы
          .smaller
            Пн.-Пт.: с 9-00 до 19-00.   Сб.-Вс.: с 10-00 до 16-00
