%section.gray
  .wrapper
    .title
      Чтобы узнать точную стоимость окна,
      %br
      вызовите консультанта на бесплатный замер


    .form-area.clearfix
      .form-icons
        .vertical-triggers
          .vertical-trigger
            .trigger-icon
              %img{src: '/images/man_icon_50.png'}
            .trigger-content
              Наш менеджер-консультант произведя все необходимые замеры и обсудив с
              Вами все тонкости Вашего заказа, сможет сразу на месте назвать Вам точную стоимость.

          .vertical-trigger
            .trigger-icon
              %img{src: '/images/window_icon_50.png'}
            .trigger-content
              Опытный менеджер-консультант поможет Вам подобрать оптимальную
              для Вас модель и комплектацию окна исходя из Ваших пожеланий и бюджета.

          .vertical-trigger
            .trigger-icon
              %img{src: '/images/question_icon_52.png'}
            .trigger-content
              Менеджер-консультант, выехав к Вам в удобное для Вас время, ответит на все Ваши вопросы,
              что позволит Вам сэкономить время и деньги.

      .form-block
        .form-title
          Оставьте заявку
        .form-subtitle
          на выезд менеджера-консультанта
          %br
          сегодня и получите бесплатную
          %br
          москитную сетку в подарок

        %form
          %input{type: :text, name: :username, placeholder: 'Ваше имя... *'}
          %input{type: :text, name: :phone, placeholder: 'Ваш телефон... *'}
          %input{type: :text, name: :email, placeholder: 'Ваш email...'}
          .button.send-order Отправить
