%section.gray
  .wrapper
    .title
      Почему стоит заказать пластиковые
      %br
      окна в компании Калева?


    .triggers.clearfix
      .trigger.top
        .icon
          %img{src: '/images/clock_icon_55.png'}
        .trigger-title
          7 дней на
          %br
          выполнение заказа
        .trigger-content
          С момента подписания договора, до монтажа окон в вашей квартире
          пройдёт не более 7 дней


      .trigger.top
        .icon
          %img{src: '/images/five_icon_55.png'}
        .trigger-title
          Гарантия
          %br
          5 лет
        .trigger-content
          На каждое установленное окно предоставляется пятилетняя гарантия от производителя


      .trigger.top.last
        .icon
          %img{src: '/images/percent_icon_55.png'}
        .trigger-title
          Беспроцентная
          %br
          рассрочка
        .trigger-content
          Наша беспроцентная рассрочка позволит вам приобрести окна уже сегодня. Первый взнос - 0 рублей


      .trigger.wide
        .icon
          %img{src: '/images/mans_icon_55.png'}
        .trigger-title
          Профессиональный монтаж
        .trigger-content
          Ваши окна установят опытные монтажные бригады прошедшие обучение и сертификацию на нашем заводе


      .trigger.wide.last
        .icon
          %img{src: '/images/budget_icon_55.png'}
        .trigger-title
          Удобные способы оплаты
        .trigger-content
          Вы можете оплатить Ваш заказ картами Visa, MasterCard или наличными деньгами