%li.model.titan
  .model-about
    .model-title
      Окна с характером
    .model-desc
      = "- Пятикамерный профиль"
      %br
      = "- Встроенные в стеклопакет жалюзи"
      %br
      = "- Стеклопакет толщиной 40мм"
      %br
      = "- Стальное армирование"
    .model-widget
      .widget-line.clearfix
        .line-name
          Теплоизоляция:
        .line-stars.clearfix
          .star
          .star
          .star
          .star
          .star

      .widget-line.clearfix
        .line-name
          Шумоизоляция:
        .line-stars.clearfix
          .star
          .star
          .star
          .star
          .star


      .widget-line.clearfix.last
        .line-name
          Светопропускание:
        .line-stars.clearfix
          .star
          .star
          .star
          .star
          .star