%li.model.vita
  .model-about
    .model-title
      Больше энергии жизни
    .model-desc
      = "- Глянцевая поверхность профиля"
      %br
      = "- Энергосберегающее стекло"
      %br
      = "- Стеклопакет толщиной 40мм"
      %br
      = "- Белое уплотнение"
    .model-widget
      .widget-line.clearfix
        .line-name
          Теплоизоляция:
        .line-stars.clearfix
          .star
          .star
          .star
          .star
          .star.empty

      .widget-line.clearfix
        .line-name
          Шумоизоляция:
        .line-stars.clearfix
          .star
          .star
          .star
          .star
          .star.half


      .widget-line.clearfix.last
        .line-name
          Светопропускание:
        .line-stars.clearfix
          .star
          .star
          .star
          .star
          .star